/* reset margin and padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* impede que um objeto aumente de tamanho ao modificar proriedades como padding */
}

.header{
  width: 100%;
  height: 60px;
  background-color: #212343;
}

/* header logo attributes */
.header img {
  margin-left: 40px;
  margin-top: 17px;
}

.banner{
  width: 100%;
  height: 450px;
  background-image: url("../images/header_bg.png");
  background-position: center;
}

.about{
  background-color: #DDDDDD;
  width: 100%;
  height: 250px;
  padding: 30px 380px;
}

.about h2{
  text-align: center;
}
.about p{
  margin-top: 10px;
}