/* reset margin and padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* impede que um objeto aumente de tamanho ao modificar proriedades como padding */
}

html,body{
  height: 100%;
}

.header{
  width: 100%;
  height: 60px;
  background-color: #212343;
}

/* header logo attributes */
.header img {
  margin-left: 40px;
  margin-top: 17px;
}

.banner{
  width: 100%;
  height: 70%;
  background-image: url("../images/header_bg.png");
  background-size: 100% 100%;

}

.banner div{
  background-color: rgba(33, 35, 67, 0.5);
  width: 50%;
  height: auto;
  margin-left: 50px;
  margin-top: 75px;
  display: inline-block;
}

.banner div ul{
  color: white;
  margin: 40px 35px;
}

.banner div ul li{
  margin-bottom: 20px;
}

.about{
  background-color: #DDDDDD;
  width: 100%;
  height: 250px;
  padding: 30px 380px;
}

.about h2{
  text-align: center;
}
.about p{
  margin-top: 10px;
}